html {
  font-size:16px;
  font-family: 'Rubik', sans-serif;
}
.container {
  max-width:1900px;
  margin:0 1rem;
}
img {
  width:100%;
  max-width:100%
}
main {
min-height:100vh;
background-color:#e6eef1;

}