.header {
  height: 100px;
  background-color: #0a043c;
  color: #fff;
  display: flex;
  align-items: center;

  @media (min-width: 1024px) {
    height: 60px;
  }

  &__logo {
    font-size: 1.4rem;
    letter-spacing: 1.2px;
    font-weight: 400;
    img {
      width: 40px;
    }
  }

  &__user-ip {
    font-size: 1.4rem;
    letter-spacing: 1.2px;
    text-align: center;
    margin: 1rem 0 0 0.5rem;
    @media (min-width: 1024px) {
      margin-top: 0;
    }
  }
  .row {
    justify-content: space-between;
  }
}
